body, html, #root {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


.main-content {
  padding-top: 0px; /* Altura de la navbar */
}
