/* src/pages/Confirmations.css */
.confirmation-container {
    background-color: #dc3545; /* Rojo */
    color: white;
    padding: 1rem; /* Reducir el padding para hacerlo más compacto */
    border-radius: 0.25rem;
    margin-bottom: 1rem; /* Reducir el margen inferior */
  }
  
  .confirmation-container h1 {
    font-size: 1.5rem; /* Reducir el tamaño del texto del encabezado */
    margin-bottom: 0.5rem; /* Reducir el margen inferior */
  }
  
  .confirmation-details {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* Reducir el espacio entre los elementos */
  }
  
  .confirmation-item {
    flex: 1 1 150px; /* Reducir el tamaño base de los elementos */
    padding: 0.5rem; /* Reducir el padding dentro de los items */
    border-radius: 0.25rem;
    font-size: 0.875rem; /* Reducir el tamaño del texto */
  }
  