/* ReservationPage.css */
.body-ReservationPage{
    font-size: 1.2rem;
}

.confirm-button {
    width: 100%;
    padding: 12px; /* Ajusta el padding para pantallas más pequeñas */
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente si es necesario */
    border-radius: 5px;
    box-sizing: border-box;
}

/*ESTILO PARA COBERTURA**/
.coberturaClass{
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

/**ESTILO PARA EXTRAS*/
.extraClass{
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

/*ESTILO PARA FORMS**/
.formClass{
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
}


/**ESTILO PARA CLASS***/

.cardClass{
    margin-top: 60px !important;
    border-radius: 20px;
    border: none;
}
.cardClass2{
    margin-top: 60px !important;
    border-radius: 20px;
    border: none;
}
/* Estilo para el texto del costo total */
.total-cost-text {
    text-align: right; /* Alinea el texto a la derecha */
    background-color: #f0f0f0; /* Color de fondo gris claro */
    padding: 10px; /* Espacio interno */
    border-radius: 5px; /* Bordes redondeados opcionales */
    font-size: 2.5rem;
}

/* Estilo del div que ocupa todo el ancho y color rojo */
.full-width-red-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px; /* Ajusta la altura según sea necesario */
    background-color: red;
    color: white; /* Color del texto dentro del div rojo */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    padding: 0 10px; /* Espacio a los lados */
    box-sizing: border-box;
    z-index: 999; /* Asegúrate de que esté por encima de otros elementos */
    margin-top: -50px;
}

/* Contenedor de los datos en horizontal */
.horizontal-data {
    display: flex;
    justify-content: space-between; /* Espacia los elementos de manera uniforme */
    width: 100%;
}

/* Estilo de cada item de datos */
.data-item {
    flex: 1; /* Asegura que cada item se estire para llenar el espacio disponible */
    text-align: center; /* Centra el texto dentro de cada item */
    padding: 0 20px; /* Ajusta el espacio interno para cada item */
    margin: 0 10px; /* Añade espacio entre los elementos */
}


@media (max-width: 768px) {
    .body-ReservationPage{
        font-size: 0.90rem;
    }
    .full-width-red-bar{
        height: 100px;
    }
}